*{
    margin: 0px;
    padding: 0px;
}
.ejemplo{
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border: 1px solid #0000ff;
    border-top: 2px double #ff0000;
    border-bottom: 10px dotted #00ff00;
    border-bottom-left-radius: 50%;
    width: 300px;
    height: 200px;
    min-width: 200px;
    max-width: 300px;
}